.navBar{   
}

.flexBox{
    margin:0;
    height:50px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    background-color: grey;;
}

.myName{
    font-size:35px;
    margin-right:auto;
    background-color: turquoise;
    color:grey;
}

.navList{
    font-size:20px;
    border:3px solid orange;
    padding: 0px 20px;
}

.navLink{
    color:turquoise

}