/* variables */
:root{
    --navBG: rgb(49,52,61); /*variable for background color in nav bar*/
    --titleFont:rgb(70,89,120); /*Title font colors*/
}
/* nav bar container */
.flexBox{
    position:sticky;
    margin:0;
    padding:0;
    height:65px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    background-color: var(--navBG);
}
/* Element positioned left in the nav bar */
.myName{
    font-size:35px;
    padding-left: 35px;
    margin-right:auto;
    background-color: turquoise;
    color:var(--navBG);
}
/* Elements positioned to the right in the nav bar */
.navList{
    font-size:25px;
    margin-right:20px;
}
/* Links in nav bar */
.navLink{
    color:turquoise
}
/* Background Image and Text beneath navbar */
.imageBoard{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(../images/imageBoard.jpg);
    background-size: cover;
    height:200px;
    width:100%;
    position:relative;  

}
/* Text inside main image */
.imageBoard span{
    color:var(--navBG);
    background-color:turquoise;
    margin-right:20px;
    padding:3px;
}
/* Contains 4 flexboxes: About me title, about me paragraph, work title, and work container  */
.mainContainer{
    margin:0;
    padding:0;
    border: 4px dotted black;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 300px; /*delete when content selection complete*/

}


/* Elements inside the main container */


/* About Me Row (Title and Paragraph) */
.aboutMe{
    order:1;
    border: 2px dashed green;
}

/* Work Row (Title and Projects) */
.myProjects{
    order:2;
    border: 2px dashed orange;
}

/* Title Boxes */
.sectionTitle{
    flex:none;
    width: 20%;
}

/* Content Boxes */
.sectionContent{
    flex:none;
    width: 75%;

}

/* Edits Text in Title Sections */
.titleText{
    margin-right: 10px;
    color:var(--titleFont);
    font-size: 2em;
    text-align:end;
}

/* Divides Titles and Content */
.divider{
    border-left:5px solid fuchsia;
    padding-left:2%;
}





/* Contains 5 flexboxes describing work projects */
.workContainer{
    /* border:1px solid green; */
}

/* Elements inside work container */
.workBox{
    /* border:1px solid red; */
}