/* variables */
:root{
    --navBG: rgb(49,52,61); /*variable for background color in nav bar*/
    --titleFont:rgb(70,89,120); /*Title font colors*/
}
/* nav bar container */
.flexBox{
    position:sticky;
    margin:0;
    padding:0;
    height:100px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    background-color: var(--navBG);
    flex-basis:100%;
}
/* Element positioned left in the nav bar */
.myName{
    font-size:35px;
    padding-left: 35px;
    margin-right:auto;
    background-color: turquoise;
    color:var(--navBG);
}
/* Elements positioned to the right in the nav bar */
.navList{
    font-size:25px;
    margin-right:20px;
}
/* Links in nav bar */
.navLink{
    color:turquoise
}
/* Background Image and Text beneath navbar */
.imageBoard{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    background-image: url(../images/banner.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    height:250px;
    flex-basis:100%;

}

/* Avatar inside Image */
.imageBoard img{
    height: 200px;
    width:200px;
    padding-bottom:25px;
    padding-left: 25px;
    
}
/* Text inside main image */
.imageBoard span{
    color:var(--navBG);
    background-color:turquoise;
    margin-right:20px;
    padding:3px;
}
/* Contains 4 flexboxes: About me title, about me paragraph, work title, and work container  */

.mainContainer{
    display:flex;
    flex-basis:100%;
    flex-flow: row wrap;
    justify-content:center;
    margin:0;
    padding:0;
    /* background-color:var(--navBG); */
    /* color:turquoise; */
}


/* Elements inside the main container */


/* About Me Row (Title and Paragraph) */
.aboutMe{
    order:1;
    flex-basis: 100%;
}

/* Work Row (Title and Content) */
.myProjects{
    order:2;
    flex-basis:100%;
}

/* Boxes describing the content */
.sectionTitle{
    flex-basis:20%;
    margin: 2.5%;
    border-right: 5px solid turquoise;;

}

/* Content Boxes */
.sectionContent{
    flex-basis: 70%;
    text-align: start;
    padding:1%;

}

/* Edits Text in Title Sections */
.titleText{
    margin-right: 3%;
    color:turquoise;
    font-size: 35px;
    text-align:end;
    flex-basis:100%;
    background-color: var(--navBG);
}


/* Contains 5 flexboxes describing work projects */
.workContainer{
    display:flex;
    flex-wrap:wrap;
    flex-basis:100%;
    justify-content: flex-start;
    margin:0;
}

/* Elements inside work container */
.workBox{
    order:2;
    border:5px solid turquoise;
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom:30px;

}

/* Name of project label */
.workBox >*{
    color:var(--navBG);
    background-color:turquoise;
    border:1px solid var(--titleFont);
    height:50px;
    width:100px;

}

 /* First and Largest Project Displayed */
#mainProject{
    order:1;
    flex-basis:100%;
    background-image:url(../images/main-project.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 350px;
    margin:1%;e
    width:100px;

    
}
 /* Next 4 Projects  */
#project2{
    background-image:url(../images/Otto2.JPG);
    flex-basis:46.5%;
    margin:1%;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:auto;
    width:100px;

}

#project3{
    background-image:url(../images/Otto3.jpeg); 
    flex-basis:46.5%;
    margin:1%;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:300px;
    width:100px;

}

#project4{
    background-image:url(../images/Otto4.PNG);
    flex-basis: 46.5%;
    margin:1%;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:300px;
    width:100px;
}

#project5{
    background-image:url(../images/Otto5.jpeg);
    flex-basis: 46.5%;
    margin:1%;
    background-repeat: no-repeat;
    background-size:100% 100%;
    height:300px;
    width:100px;
}

/* Puts contact me session to the bottom. 3rd priority */
.contactMe{
    order:3;  
}

.footerLinks{
    padding:50px;
    height:65px;
    display:flex;
    flex-direction: row;
    /* background-color: var(--navBG); */
    flex-basis:100%;

}

.footerList{
    font-size:15px;
    flex:0;
    flex-basis:40%;
}

.footerLink{
    color:turquoise;
    background-color: var(--navBG);
}


/* Gives fading effect over projects while hovering */
.workBox:hover{
    transition:.2s;
    opacity:.4;
}

footer{
    text-align: end;
}

/* Fixes portfolio and shrinks footer link fonts while shrinking the page */
@media screen and (max-width: 985px) {
    #project2, #project3, #project4, #project5{
        flex-basis:46.5%;
    }

}

/* Changes project box sizes to fit in smaller screen */
@media screen and (max-width: 965px) {
    #project2, #project3, #project4, #project5{
        flex-basis:46.25%;
    }
}

/* Changes fonts in contact me options. Also changes project boxes to fit small screen */
@media screen and (max-width: 830px) {
    .footerLink{
        font-size:16px;
        padding:4px;
    }
    #project2, #project3, #project4, #project5{
        flex-basis:45%;
    }
}

/* Turns to columns on mobile screens. Adjustments made to font to fit screen */
@media screen and (max-width: 692px) {
    .footerLink{
        font-size:13px;
        padding:5px;
    }
}
@media screen and (max-width: 675px){
    #project2, #project3, #project4, #project5{
        flex-basis:46;
    }

    .flexBox{
        height:50px;
    }
    
    .footerLink{
        padding:0;
        margin:0;
    }
}
@media screen and (max-width: 673px) {
    .mainContainer{
        flex-direction:column;
    }
    .titleText{
        background-color:var(--navBG);
        color:turquoise;
        text-align: center;
        font-size:50px;
    }
    .sectionTitle{
        border-bottom:5px solid turquoise;
        border-right:none;
    }
    .myName{
        font-size:20px;
        margin-top:5px;
    }
    .navLink{
        font-size: 16px;
    }
    #project2, #project3, #project4, #project5{
        flex-basis:45.8%;
    }
}

    