/* variables */
:root{
    --navBG: rgb(49,52,61); /*variable for background color in nav bar*/
    --titleFont:rgb(70,89,120); /*Title font colors*/
}
/* nav bar container */
.flexBox{
    position:sticky;
    margin:0;
    padding:0;
    height:65px;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end;
    background-color: var(--navBG);
    flex-basis:100%;
}
/* Element positioned left in the nav bar */
.myName{
    font-size:35px;
    padding-left: 35px;
    margin-right:auto;
    background-color: turquoise;
    color:var(--navBG);
}
/* Elements positioned to the right in the nav bar */
.navList{
    font-size:25px;
    margin-right:20px;
}
/* Links in nav bar */
.navLink{
    color:turquoise
}
/* Background Image and Text beneath navbar */
.imageBoard{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(../images/imageBoard.jpg);
    background-size:cover;
    height:200px;
    flex-basis:100%; 

}
/* Text inside main image */
.imageBoard span{
    color:var(--navBG);
    background-color:turquoise;
    margin-right:20px;
    padding:3px;
}
/* Contains 4 flexboxes: About me title, about me paragraph, work title, and work container  */
.mainContainer{
    display:flex;
    flex-basis:100%;
    flex-flow: row wrap;
    justify-content: center;
}


/* Elements inside the main container */


/* About Me Row (Title and Paragraph) */
.aboutMe{
    order:1;
}

/* Work Row (Title and Projects) */
.myProjects{
    order:2;
}

/* Title Boxes */
.sectionTitle{
    flex-basis:10%;
    margin:1px;
    border-right: 5px solid blue;
    margin-top: 30px;

}

/* Content Boxes */
.sectionContent{
    flex-basis:80%;
    text-align: start;
    padding-left:2%;

}

/* Edits Text in Title Sections */
.titleText{
    margin-right: 10px;
    color:var(--titleFont);
    font-size: 2em;
    text-align:end;
}

.aboutMe p{
    padding-left:1%;
}

/* Contains 5 flexboxes describing work projects */
.workContainer{
    display:flex;
    flex-wrap:wrap;
    flex-basis:100%;
    justify-content: flex-start;
    margin:0;
}

/* Elements inside work container */
.workBox{
    order:2;
    border:5px solid black;
}


 /* First and Largest Project Displayed */
#mainProject{
    order:1;
    flex-basis:96.5%;
    background-image:url(../images/pumpkin.jpeg);
    height: 600px;
    margin:1%;

    
}

#cookieProject{
    background-image:url(../images/Cookie.jpeg);
    flex-basis:47%;
    margin:1%;
    height:300px;

}

#carrotProject{
    background-image:url(../images/Carrot.jpeg); 
    flex-basis:47%;
    margin:1%;
    height:300px;

}

#cupcakeProject{
    background-image:url(../images/Cupcake.jpeg);
    flex-basis: 47%;
    margin:1%;
    height:300px;
}

#potatoProject{
    background-image:url(../images/Potato.jpeg);
    flex-basis: 47%;
    margin:1%;
    height:300px;
}


.contactMe{
    order:3;


}

.footerLinks{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    height:200px;
    align-items: center;

}

.footerList{
    font-size:25px;
    margin-right:20px;
}

.footerLink{
}